In [82]:
import pandas as pd
import numpy as np

In [83]:
data=pd.read_csv("diabetes.csv")
data.head()

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI
0            6      148           72.0            NaN      0.0  33.6
1            1       85           66.0           29.0      0.0  26.6
2            8      183           64.0            0.0      0.0  23.3
3            1       89            NaN           23.0     94.0  28.1
4            0      137           40.0           35.0    168.0  43.1

In [84]:
print(data.isnull().sum())

Pregnancies      0
Glucose          0
BloodPressure    6
SkinThickness    5
Insulin          1
BMI              0
dtype: int64

In [85]:
pf = data.dropna() 
pf.head()

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI
1            1       85           66.0           29.0      0.0  26.6
2            8      183           64.0            0.0      0.0  23.3
4            0      137           40.0           35.0    168.0  43.1
6            3       78           50.0           32.0     88.0  31.0
7           10      115            0.0            0.0      0.0  35.3

In [86]:
print(pf.isnull().sum())

Pregnancies      0
Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
dtype: int64

In [87]:
data['Pregnancies']=data['Pregnancies'].replace(np.NaN,0) 
data['Glucose']=data['Glucose'].replace(np.NaN,0) 
data['BloodPressure']=data['BloodPressure'].replace(np.NaN,0) 
data['SkinThickness']=data['SkinThickness'].replace(np.NaN,0) 
data['Insulin']=data['Insulin'].replace(np.NaN,0) 
data['BMI']=data['BMI'].replace(np.NaN,0)
data[:10]

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI
0            6      148           72.0            0.0      0.0  33.6
1            1       85           66.0           29.0      0.0  26.6
2            8      183           64.0            0.0      0.0  23.3
3            1       89            0.0           23.0     94.0  28.1
4            0      137           40.0           35.0    168.0  43.1
5            5      116            0.0            0.0      0.0  25.6
6            3       78           50.0           32.0     88.0  31.0
7           10      115            0.0            0.0      0.0  35.3
8            2      197           70.0            0.0    543.0  30.5
9            8      125           96.0            0.0      0.0   0.0

In [90]:
df=pd.read_csv("diabetes.csv") 
m1=df['Pregnancies'].mean()
m2=df['Glucose'].mean() 
m3=df['BloodPressure'].mean() 
m4=df['SkinThickness'].mean()
m5=df['Insulin'].mean() 
m6=df['BMI'].mean()
df['Pregnancies']=df['Pregnancies'].fillna(m1) 
df['Glucose']=df['Glucose'].fillna(m2) 
df['BloodPressure']=df['BloodPressure'].fillna(m3) 
df['SkinThickness']=df['SkinThickness'].fillna(m4) 
df['Insulin']=df['Insulin'].fillna(m5) 
df['BMI']=df['BMI'].fillna(m6)
df[:10]

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI
0            6      148      72.000000      18.636364      0.0  33.6
1            1       85      66.000000      29.000000      0.0  26.6
2            8      183      64.000000       0.000000      0.0  23.3
3            1       89      70.023256      23.000000     94.0  28.1
4            0      137      40.000000      35.000000    168.0  43.1
5            5      116      70.023256       0.000000      0.0  25.6
6            3       78      50.000000      32.000000     88.0  31.0
7           10      115       0.000000       0.000000      0.0  35.3
8            2      197      70.000000      18.636364    543.0  30.5
9            8      125      96.000000       0.000000      0.0   0.0

In [93]:
df=pd.read_csv("Diabetes.csv") 
me1=df['Pregnancies'].median() 
me2=df['Glucose'].median() 
me3=df['BloodPressure'].median() 
me4=df['SkinThickness'].median() 
me5=df['Insulin'].median()
me6=df['BMI'].median()
df['Pregnancies']=df['Pregnancies'].fillna(me1) 
df['Glucose']=df['Glucose'].fillna(me2) 
df['BloodPressure']=df['BloodPressure'].fillna(me3) 
df['SkinThickness']=df['SkinThickness'].fillna(me4) 
df['Insulin']=df['Insulin'].fillna(me5) 
df['BMI']=df['BMI'].fillna(me6)
df[:10]

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI
0            6      148           72.0           21.0      0.0  33.6
1            1       85           66.0           29.0      0.0  26.6
2            8      183           64.0            0.0      0.0  23.3
3            1       89           72.0           23.0     94.0  28.1
4            0      137           40.0           35.0    168.0  43.1
5            5      116           72.0            0.0      0.0  25.6
6            3       78           50.0           32.0     88.0  31.0
7           10      115            0.0            0.0      0.0  35.3
8            2      197           70.0           21.0    543.0  30.5
9            8      125           96.0            0.0      0.0   0.0

In [95]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2936 sha256=617eb5fa7a10b4928eaf1901d604294a6466b743c7ad409724227847c3424969
  Stored in directory: /Users/aravinth/Library/Caches/pip/wheels/db/9f/0b/772886b624f84c138a5febb6966c89d374ab58c62bd65d109e
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import StandardScaler

In [16]:
df = pd.read_csv("HW.csv")
print(df)

    Height  Weight
0      6.5   80000
1      7.0   75000
2      6.2   65000
3      5.4   82000
4      6.0   50000
5      5.3   67000
6      6.5   80000
7      7.0   75000
8      6.2   65000
9      5.4   82000
10     6.0   50000
11     5.3   67000
12     6.5   80000
13     7.0   75000
14     6.2   65000
15     5.4   82000
16     6.0   50000
17     5.3   67000
18     6.5   80000
19     7.0   75000
20     6.2   65000
21     5.5   80000
22     7.8   75000
23     7.2   65000
24     6.3   82000
25     6.5   50000
26     7.0   67000
27     6.2   80000
28     5.4   75000
29     6.0   65000
30     5.3   82000
31     6.5   50000
32     7.0   67000
33     6.2   80000
34     5.4   75000
35     6.0   65000
36     5.3   82000
37     6.5   50000
38     7.0   67000

In [17]:
df.head()

   Height  Weight
0     6.5   80000
1     7.0   75000
2     6.2   65000
3     5.4   82000
4     6.0   50000

In [19]:
arr = df.values
X = arr[:,0:1]
Y = arr[:,1]
min= MinMaxScaler(feature_range=(-10, 10))
scal= min.fit(X)
rescaledX=scal.transform(X) 
np.set_printoptions(precision=3) 
print(rescaledX[0:40,:])

[[ -0.4]
 [  3.6]
 [ -2.8]
 [ -9.2]
 [ -4.4]
 [-10. ]
 [ -0.4]
 [  3.6]
 [ -2.8]
 [ -9.2]
 [ -4.4]
 [-10. ]
 [ -0.4]
 [  3.6]
 [ -2.8]
 [ -9.2]
 [ -4.4]
 [-10. ]
 [ -0.4]
 [  3.6]
 [ -2.8]
 [ -8.4]
 [ 10. ]
 [  5.2]
 [ -2. ]
 [ -0.4]
 [  3.6]
 [ -2.8]
 [ -9.2]
 [ -4.4]
 [-10. ]
 [ -0.4]
 [  3.6]
 [ -2.8]
 [ -9.2]
 [ -4.4]
 [-10. ]
 [ -0.4]
 [  3.6]]

In [20]:
df = pd.read_csv("HW.csv") 
arr = df.values
X = arr[:,0:1]
Y = arr[:,1:]
min= MinMaxScaler(feature_range=(-10, 10)) 
scale= min.fit(Y)
rescaledY=scale.transform(Y) 
np.set_printoptions(precision=3) 
print(rescaledY[0:40,:])

[[  8.75 ]
 [  5.625]
 [ -0.625]
 [ 10.   ]
 [-10.   ]
 [  0.625]
 [  8.75 ]
 [  5.625]
 [ -0.625]
 [ 10.   ]
 [-10.   ]
 [  0.625]
 [  8.75 ]
 [  5.625]
 [ -0.625]
 [ 10.   ]
 [-10.   ]
 [  0.625]
 [  8.75 ]
 [  5.625]
 [ -0.625]
 [  8.75 ]
 [  5.625]
 [ -0.625]
 [ 10.   ]
 [-10.   ]
 [  0.625]
 [  8.75 ]
 [  5.625]
 [ -0.625]
 [ 10.   ]
 [-10.   ]
 [  0.625]
 [  8.75 ]
 [  5.625]
 [ -0.625]
 [ 10.   ]
 [-10.   ]
 [  0.625]]

In [21]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import StandardScaler 
df = pd.read_csv("HW.csv") 
arr = df.values
X = arr[:,0:1]
Y = arr[:,1]
scaler = StandardScaler()
rescaledX = scaler.fit_transform(X) 
np.set_printoptions(precision=3) 
print(rescaledX[0:40,:])

[[ 0.452]
 [ 1.218]
 [-0.008]
 [-1.233]
 [-0.314]
 [-1.387]
 [ 0.452]
 [ 1.218]
 [-0.008]
 [-1.233]
 [-0.314]
 [-1.387]
 [ 0.452]
 [ 1.218]
 [-0.008]
 [-1.233]
 [-0.314]
 [-1.387]
 [ 0.452]
 [ 1.218]
 [-0.008]
 [-1.08 ]
 [ 2.443]
 [ 1.524]
 [ 0.145]
 [ 0.452]
 [ 1.218]
 [-0.008]
 [-1.233]
 [-0.314]
 [-1.387]
 [ 0.452]
 [ 1.218]
 [-0.008]
 [-1.233]
 [-0.314]
 [-1.387]
 [ 0.452]
 [ 1.218]]